<div class="row">
  <div class="col-sm-1 col-md-4 col-lg-4" *ngFor="let item of recetas">
    <div class="card mb-3">
      <img [src]="item.image" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <div class="row">
          <div class="col">
            <p class="card-text">Difficulty: {{ item.difficulty }}</p>
          </div>
          <div class="col">
            <p class="card-text JUS">Rating: {{ item.rating }}</p>
          </div>
        </div>
        <p class="card-text">
          Tags:
          <span *ngFor="let tag of item.tags" class="badge bg-secondary me-2">{{
            tag
          }}</span>
        </p>
        <a class="btn btn-primary m-1" [routerLink]="['/detalles', item.id]"
          >Ver detalles</a
        >
        <a class="btn btn-primary m-1" (click)="deleteFavorito(item)"
          >Eliminar</a
        >
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
